
body {
  
  background: rgb(248,254,143);
  background: linear-gradient(90deg, rgba(248,254,143,0.3816877092633929) 0%, rgba(241,186,255,1) 100%, rgba(0,212,255,0.18000703699448528) 100%);
}

.App {
  display: flex;
  margin: auto 10px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 720px) {
  .Form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


@media only screen and (min-width: 720px) {
  .container {
    max-width: 50% !important;
  }

}