li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
}

.Todos-items {
    color: lightgray;
    text-decoration: line-through;
}

.emptylist {
    text-align: center;
    color: grey;
}