.space {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
}



.Todos-items {
    color: lightgray;
    text-decoration: line-through;
    transition: 1s;
}

.emptylist {
    text-align: center;
    color: grey;
}

.libtn {
    display: flex;
    height: 2rem; 
}
